html {
    height: 100%
}
body {
	margin-left: 10px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	background: url(imagenes/fondo.png) repeat-y #EFE3F3 top center;
	background-size: 100% 100%;
	/*background-color: #EFE3F3;
	background-repeat:no-repeat;
	background-position:left 70px;*/
}
#caja_mov {margin-left:128px;}
.titulo {color: #AFAFAF;}
.titulo2 {color: #777777;}
h3.conc {text-decoration:underline; color: #585858;}
/*div.g,p.g,table {font-size: 14px;}*/
span.boton { 
	background-color: #9CA3DA;
	height: 20px;
	display: inline-block;
	padding: 0 5px;
box-shadow: 10px 10px 5px #888888;
}

img
{
  border:0;
  max-width: 100%;
}
img#centrar { 
left: 50%;
top: 50%;
margin-left: 25%;}

/*  img logo uncoma */
.logounc {
	width: 50px;
	height: 50px;
	 float:left;
	 margin: 0px 5px;
	filter: url('#grayscale'); /* Versi칩n SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%); /* Para cuando es est치ndar funcione en todos */
filter: Gray(); /* IE4-8 and 9 */
}
ul {list-style-type : circle;}

.small { font-size: 9px;}
p.small { font-size: 11px;}

ul.link_menu li a,ul.link_menu li a:link,ul.link_menu li a:visited
{
	font-size : 15px; 
	font-family : arial, serif, georgia;
	text-align:center;
	display:block;
	background-image:url(imagenes/bg-navigation-item.png);
	background-repeat:no-repeat;
	background-position: 50% 0pt;
	color:#FFFFFF;
	width:100px;
	margin-top: 0pt;
	margin-right: 1em;
	margin-bottom: 0pt;
	margin-left: 1em;
	padding-top: 0.75em;
	padding-right: 0pt;
	padding-bottom: 0pt;
	padding-left: 0pt;
	text-decoration: none;
}

ul.link_menu li a:hover,ul.link_menu li a:active
{
	/*color : #ffffff;*/
	/*text-transform:uppercase;*/
	color:#33FFFF;
	background-image:url(imagenes/bg-navigation-item-hover.png);
	text-decoration: none;
}

#link_menu, #link_menu li {
	list-style:none;
	margin:0;
	padding:0;
	float: left;
	}
 /* END estilos para el menu principal */
 
 /*########################FORMULARIO###################33*/
form#formulario {
	padding: 10px;
	width: 75%;
	border:1px solid #000; margin:0 auto;
	background: #66668B;
  background: -moz-linear-gradient(top, #66668B 0%, #D3B2D1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66668B), color-stop(100%, #D3B2D1));
  background: -webkit-linear-gradient(top, #66668B 0%, #D3B2D1 100%);
  background: -o-linear-gradient(top, #66668B 0%, #D3B2D1 100%);
  background: -ms-linear-gradient(top, #66668B 0%, #D3B2D1 100%);
  background: linear-gradient(to bottom, #66668B 0%, #D3B2D1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66668B', endColorstr='#D3B2D1', GradientType=0);
  border-color: #2B5177;
}

form#formulario label {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 75px;	
	display: block;
	float: left;
	
	padding-right: 20px;
	margin-bottom: 5px;
}

form#formulario select { 
 background-color: #D3B2D1; 
 color: #000; 
 width:250px;display: block;
 border: 1px Solid #CCC;
}

form#formulario input#campo {
	width: 250px;
	height: 20px;	
	border: 1px Solid #CCC;
	background: #D3B2D1;
	color: #000; 
	display: block;
	margin-bottom: 5px;
}

form#formulario input#campo2 {
	width: 50px;
	height: 20px;	
	border: 1px Solid #CCC;
	background: #D3B2D1;
	color: #000; 
	display: block;
	margin-bottom: 5px;
}

form#formulario input#campo3 {
	width: 200px;
	height: 15px;	
	border: 1px Solid #CCC;
	background: #D3B2D1;
	color: #000; 
	display: block;
	margin-bottom: 5px;
}

form#formulario input[type=checkbox]{
	position: absolute;
	left: -999em;
}

form#formulario input[type=checkbox] + label {
	display: block;
	height: 16px;
	padding-left: 25px;
	background: url(imagenes/bullet.gif) top left no-repeat;
}

form#formulario input[type=checkbox]:checked + label {
	background-image: url(imagenes/bullet_checked.gif);
}

form#formulario input#boton,input#boton  {    
 font: 14px Verdana, Geneva, Arial, Helvetica, sans-serif;    
 /*background-color: #A4D0C4;    */
 background-image:url(imagenes/body.png);
 color: #fff;    
 margin-left: 20px;    
 margin-top: 3px;    
 margin-bottom: 2px;    
}

form#formulario textarea {
	background-color: #D3B2D1; 
	color: #000; 
	height: 100px;
 border: 1px Solid #CCC;
}

form#formulario legend {
	font-family:georgia, sans-serif; 
	font-size:1.1em; 
	font-weight:bold; /*
	border:2px solid #CCC; 
	background-color:#A4D0C4;*/
	margin-bottom:5px; 
	padding:5px;
	background-image:url(imagenes/body.png);
	color:#fff;
}
	
form#formulario fieldset#items {background-color: #EFE3F3;}

/*#########end estilos formulario#########*/
form#noform input#boton {    
font: 14px Verdana, Geneva, Arial, Helvetica, sans-serif;    
color: #003399;   
background-color: #EFF5FB;
border: none;
cursor:hand
}
 /*########################FORMULARIO2###################33*/
form#formulario2 {
	padding: 10px;
	background-color: #A4D0C4;	
	width: 60%;
	border:1px solid #000; margin:0 auto;
	font-size: 14px;
}

form#formulario2 label {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 80px;	
	float: left;	
	padding-right: 15px;
	margin-bottom: 5px;
	border-bottom: 1px dashed #000;
}

form#formulario2 select,form#formulario2 select#idllamado,form#formulario2 select#sel_crr,form#formulario2 select#sel_dpto,
form#formulario2 select#sel_area,form#formulario2 select#sel_orien,form#formulario2 select#sel_asig { 
 background-color: #D3B2D1; 
 color: #000; 
 width:250px;display: block;
 border: 1px Solid #CCC;
}

form#formulario2 select#simple { 
 background-color: #D3B2D1; 
 color: #000; 
 width:auto;
 display: inline;
 border: 1px Solid #CCC;
}
form#formulario2 label#simple {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 100px;
	float: left;	
	padding-right: 15px;
	margin-bottom: 5px;
	border-bottom: 1px dashed #000;
}

form#formulario2 input#up {
	width: 100px;
	height: 20px;	
	border: 1px Solid #CCC;
	background: #D3B2D1;
	color: #000; 
	display: block;
	margin-bottom: 5px;
}

form#formulario2 input#campo {
	width: 250px;
	height: 20px;	
	border: 1px Solid #CCC;
	background: #D3B2D1;
	color: #000; 
	display: block;
	margin-bottom: 5px;
}

form#formulario2 input#campo2 {
	width: 100px;
	height: 20px;	
	border: 1px Solid #CCC;
	background: #D3B2D1;
	color: #000; 
	display: block;
	margin-bottom: 5px;
}

form#formulario2 input#campo3,form#formulario2 input#tarchivo,form#formulario2 input#tpdf1,form#formulario2 input#tpdf2 {
	width: 200px;
	height: 20px;	
	border: 1px Solid #CCC;
	background: #D3B2D1;
	color: #000; 
	display: block;

	margin-bottom: 5px;
}

form#formulario2 input[type=checkbox]{
	/*position: absolute;*/
	left: -999em;
}

form#formulario2 input[type=checkbox] + label {
	display: block;
	height: 16px;
	padding-left: 25px;
	background: url(imagenes/bullet.gif) top left no-repeat;
}

form#formulario2 input[type=checkbox]:checked + label {
	background-image: url(imagenes/bullet_checked.gif);
}

form#formulario2 input#boton {    
 font: 14px Verdana, Geneva, Arial, Helvetica, sans-serif;    
 /*background-color: #A4D0C4;    */
 background-image:url(imagenes/body.png);
 color: #fff;    
 margin-left: 20px;    
 margin-top: 3px;    
 margin-bottom: 2px;    
}

form#formulario2 textarea {
	background-color: #D3B2D1; 
	color: #000; 
	height: 100px;
	border: 1px Solid #CCC;
	margin-bottom: 5px;
}

form#formulario2 legend {
	font-family:georgia, sans-serif; 
	font-size:1.1em; 
	font-weight:bold; /*
	border:2px solid #CCC; 
	background-color:#A4D0C4;*/
	margin-bottom:5px; 
	padding:5px;
	background-image:url(imagenes/body.png);
	color:#fff;
}
	
form#formulario2 fieldset#items {background-color: #A4D0C4;}

/*#########end estilos formulario2#########*/
#imprimir 
{
color:#003399;	
font-weight:bold;
background: url(imagenes/list.png) left center no-repeat;
border: 0px ;
width: 95px;
font-size: 11px;
}
a.enlace:link,a.enlace:active,a.enlace:visited
 {
	color:#003399;	
	text-decoration: none;
}

a.enlace:hover {color:#FFF;	}

a.enlace_rojo:link,a.enlace_rojo:hover,a.enlace_rojo:active,a.enlace_rojo:visited
 {
	color:red;	
	text-decoration: none;
}

#naranja {color:#FE642E;}
.rojo {color:red; text-decoration: none; text-align: center;}
.verde {color:green; text-align: center; text-decoration: none;}
.azul {color:blue; text-align: center; text-decoration: none;}
.naranja {color:#FE642E; text-align: center; text-decoration: none;}
tr.negro {background-color: #000 !important;}

.ip {color:#003399; font-weight:bold;}

.centro{text-align:center;}

table.tabla, table.tabla td,table.tabla th
{
border:1px solid black;
border-spacing: 1px; 
border-collapse: collapse;
padding: 5px;
}

table.tabla td#mas
{ padding: 1px 2px 1px 2px;}
table.tabla td#mas10
{ padding: 5px 10px 5px 10px;}

table.tabla tr#fila_corto {background-color:#FFCC99} /* naranja */
table.tabla tr#fila_medio {background-color:#CCFFFF} /* azul */
table.tabla tr#fila_largo {background-color:#99FF99} /* verde */

table.tabla tr#fila_par {background-color:#A4D0C4}

table.tabla tr#fila_impar {background-color:#fff}

table.tabla tr#fila { 
	background-image:url(imagenes/body.png);
 	color: #fff;   
 	text-align: center;
 	font-weight:bold;
}

table.noborde, table.noborde td,table.noborde th
{
border:0px;
border-spacing: 1px; 
padding: 1px;/*cellspacing=0px; 
cellpadding=0px;*/
}
table.tabla2 thead { background: #99CCCC; color: #000;}
table.tabla2 tbody { color: #444444;}
table.tabla2, table.tabla2 td,table.tabla2 tr
{
border:1px dotted black;
border-spacing: 0.5px; 
padding: 2px !important;
line-height:10px;
background-color:rgba(204, 204, 204, .5);
}
table.tabla2 tr:hover {color: #000;}

div.noasoc {
margin: auto;
width: 500px;
background-color: #4D5487;
color: #fff;
padding: 5px;
}


div.membrete, #membrete {
	background-color: #EFF5FB;
	font: 14px Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: left;
	padding: 5px 10px 5px 10px; }

div.campos {
	border: dotted 1px;
	font: 14px Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 2px 0 2px 10px; }
div.c115 { width: 115px;}
div.c100 { width: 100px; word-wrap:break-word;}
div.campos-acord {
	border: dotted 1px;
	font: 14px Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 2px 0 2px 10px; 
	width: auto !important;
	height: auto !important;
	}
#error { width: auto !important;
	height: auto !important;}

div.centrado {
text-align: center; display:block;}

div.centrado table {
margin: 0 auto;
text-align: left;
}

div.barra{
	clear: both;
	background: url(imagenes/barra.gif) repeat-x center;
	height: 4px;
	width: 100%;
	margin: 5px 0 5px 0;
	padding: 0;
}
/** ######## ESTILO DE TOOLTIP #### **/
a.Ntooltip {
position: relative; /* es la posici칩n normal */
text-decoration: none !important; /* forzar sin subrayado */
border-style: double;
/* font-weight:bold !important; /* forzar negritas */
}

a.Ntooltip:hover {
z-index:999; /* va a estar por encima de todo */
/*background-color:#000000; /* DEBE haber un color de fondo */
}

a.Ntooltip span {
display: none; /* el elemento va a estar oculto */
}

a.Ntooltip:hover span {
	display: block; /* se fuerza a mostrar el bloque */
	position: absolute; /* se fuerza a que se ubique en un lugar de la pantalla */
	top:0em; left:5em; /* donde va a estar */
	width:200px; /* el ancho por defecto que va a tener */
	padding:5px; /* la separaci칩n entre el contenido y los bordes */
	background-color: #0080C0; /* el color de fondo por defecto */
	color: #FFFFFF; /* el color de los textos por defecto */
}

/* ### Estilo de areas y lugares #### */
.fondo{
	/*background-color:#000;*/
	width:45px;
}

.mini_area{
	font-size: xx-small;
	font-variant: small-caps;
}

/***************/
#MenuIcon{
position:fixed;
text-align:left;
/* Modica estos valores de abajo para ajustar la posicion del menu */
margin-top:0px;
margin-left:5px;
}

* html #MenuIcon{ /*IE only*/
position:absolute;
}

#MenuIcon a img{
opacity:1;
-moz-opacity:1;
filter:alpha(Opacity=100);
}

#MenuIcon a:hover img{
opacity:0.7;
-moz-opacity:0.7;
filter:alpha(Opacity=70);
position:relative;top:0px;left:2px;
}

* html #MenuIcon a img{
filter:alpha(Opacity=100);
}

#MenuIcon img{
margin-bottom: -3px;
}

* html .MenuIcon{
margin-bottom: -3px;
}

#impr {display: none;}
/********* Menu multinivel ****/
nav{display:block;
margin-top: 0px;
background:#3E4156;
}

.menu{display:block;}

.menu li{display: inline-block;
position: relative;
z-index:100;}

.menu li:first-child{margin-left:0;}

.menu li a {font-weight:600;
text-decoration:none;
padding:11px;
display:block;
color:#ffffff;

-webkit-transition: all 0.2s ease-in-out 0s;
   -moz-transition: all 0.2s ease-in-out 0s;
   -o-transition: all 0.2s ease-in-out 0s;
   -ms-transition: all 0.2s ease-in-out 0s;
   transition: all 0.2s ease-in-out 0s;
}

.menu li a:hover, .menu li:hover > a{color:#ffffff;
background:#9CA3DA;}

.menu ul {display: none;
margin: 0;
padding: 0;
width: 150px;
position: absolute;
/*top: 43px;*/
left: 0px;
background: #ffffff;
}

.menu ul li {display:block;
float: none;
background:none;
margin:0;
padding:0;
}
.menu ul li a {font-size:12px;
font-weight:normal;
display:block;
color:#797979;
border-left:3px solid #ffffff;
background:#ffffff;}

.menu ul li a:hover, .menu ul li:hover > a{
background:#f0f0f0;
border-left:3px solid #9CA3DA;
color:#797979;
}

.menu li:hover > ul{ display: block;}
.menu ul ul {left: 149px;
	top: 0px;
}
/* Fin menu multinivel */
/*** SGA **/
div.jtable-column-header-container {height: auto !important;}

.btn-link{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#0000EE;
  padding:0;
  text-decoration:underline;
  font-family:inherit;
  font-size:inherit;
}
